.dangxuatcongty {
    /* margin-top: 535px; */
    color: black;
    text-decoration: none;
    border-top: 1px solid #6060602b;
}
.Navbar .company li {
    height: 90px;
}
.company .thongtintaikhoan {
    justify-content: space-evenly;
}
.company {
    height: auto;
}
#soluong {
    width: 120px !important;
    height: 35px;
}
.thongtincongty .thongtindangkythuctap {
    list-style: none;
    width: 95%;
    height: auto;
    display: inline-flex;
    justify-content: space-evenly;
}
.thongtincongty .thongtindangkythuctap li {
    width: 350px;
}
.thongtincongty .thongtindangkythuctap li input {
    width: 350px !important;
}
.email_dangky {
    list-style: none;
    width: 300px;
    height: 50px;
    display: inline-flex;
    justify-content: center;
}
.email_dangky .lable {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    color: #0a2689;
    font-size: 16px;
}
.email_dangky .info {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    color: #0b2eac;
    font-size: 18px;
    font-style: italic;
}
.thongtinan {
    display: none;
}
.thong_tin_email {
    width: 350px;
}
#tencanbo {
    min-width: 185px;
}
#chucvucanbo {
    min-width: 270px;
}
#vitrihuongdan {
    min-width: 320px;
}
#emailcanbo {
    min-width: 215px;
}
.motacongty {
    display: block;
    height: auto;
    list-style: none;
    width: 95%;
}
.motacongty li .lable {
    width: 100%;
    display: block;
    float: left;
    text-align: left;
    font-size: 18px;
    padding-left: 5%;
    margin-bottom: 7px;
    color: #0612b8;
}
.motacongty li .info {
    display: block;
    text-align: left;
    font-size: 18px;
    padding-left: 5%;
    margin-bottom: 7px;
    text-align: left;
    border: none;
    height: auto;
    background: none;
}
/*Update V.1 */
.thongtincongty .thongtindangkythuctap .vitrithuctap {
    width: 91%;
    float: left;
    text-align: justify;
}
.vitrithuctap #vitrithuctap {
    float: left;
}
.thongtincongty .them {
    width: 4%;
    margin-left: 1%;
    padding: 5px;
}
.icon_them {
    font-size: 25px;
}
@media screen and (max-width: 767px) {
    .company {
        height: auto !important;
    }
    .thongtindangkythuctap #vitri,
    #vitrihuongdan {
        width: 80% !important;
        font-size: 20px;
        min-width: 100px !important;
    }
    .thongtincongty .thongtindangkythuctap .thong_tin_email {
        margin-left: 3%;
    }
    .thongtincongty .thongtindangkythuctap li {
        margin-left: -8%;
    }
}
