@media screen and (min-width: 1240px) {
    .App {
        height: 1024px;
    }
    .container {
        height: 98%;
    }
    .data {
        height: 98%;
    }
    .content {
        height: 96%;
        width: 100%;
    }
    .thongtincanhan,
    .luachoncongty,
    .thongtincongty,
    .dinhkem {
        margin: 15px 5px;
    }
    .danhsachdondangky table {
        height: 95%;
    }
    /* ADIM */
    .danhsachdondangky #trangthai {
        min-width: 170px;
    }
    #admin_diachicongty {
        min-width: 430px;
    }
    #vitri {
        min-width: 250px;
    }
    #ngaytaodon {
        min-width: 290px;
    }
    #emailsinhvien {
        min-width: 350px;
    }
    .dangxuat {
        margin-top: 330px !important;
    }
    #masinhvien {
        min-width: 125px;
    }
    #tensinhvien {
        min-width: 200px;
    }
}
@media screen and (max-width: 1239px) {
    .Navbar {
        width: 10%;
    }
    .data {
        margin-left: 10%;
    }
    .items {
        width: 95%;
    }
    .items li h2 {
        width: 95%;
    }
    .items li {
        height: 100px;
    }
    .danhsachdondangky #trangthai {
        min-width: 75px;
        border: none;
        border-right: 1px solid #3333;
        height: 53px;
    }
    .danhsachdondangky {
        border: none;
    }
    .danhsachdondangky table .info {
        height: auto;
    }
    .danhsachdondangky table tr {
        height: 57px;
    }
    #masinhvien {
        min-width: 100px;
    }
    #tensinhvien,
    #emailsinhvien {
        min-width: 150px;
        width: 235px;
    }
    #ngaytaodon {
        min-width: 100px;
    }
    .dangxuatcongty {
        margin-top: auto;
    }
    .thongtincongty .thongtindangkythuctap li input {
        width: 260px !important;
    }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .Navbar {
        width: 14%;
    }
    .data {
        margin-left: 14%;
        width: 83%;
    }
    .danhsachdondangky {
        margin-top: 7%;
    }
    .danhsachdondangky table tr {
        height: 60px;
    }
    #masinhvien {
        min-width: 100px;
        height: 55px;
    }
    #tensinhvien {
        min-width: 200px;
    }
    #emailsinhvien {
        min-width: 255px;
    }
    #ngaytaodon {
        min-width: 170px;
    }
    .danhsachdondangky #trangthai {
        min-width: 150px;
        border: none;
        height: 56px;
    }
    .items li {
        height: 110px;
        margin-left: 16px;
        /* text-align: left; */
    }
    .items li h2 {
        text-align: left;
        width: 95%;
    }
    .dangxuatcongty {
        margin-top: 255px;
    }
    .thongtincongty .thongtindangkythuctap {
        display: block;
        margin-left: 15%;
        height: auto;
        width: 75%;
        margin-bottom: 0;
        margin-top: 0;
    }
    .content h1 {
        display: block;
        width: 100%;
        font-size: 25px;
    }
    .company {
        height: 50% !important;
    }
    .luachoncongty button,
    .thongtincongty button {
        margin-left: 30%;
    }
}

@media screen and (max-width: 768px) {
    html {
        padding: 0;
        height: 765px;
    }
    body {
        margin: 0;
    }
    .icon_dotthuctap {
        width: 100%;
        margin: 0;
    }
    .themdulieu {
        margin-bottom: 10%;
        margin-top: 5%;
    }
    .description {
        margin-left: 0;
    }
    .box {
        display: block;
    }
    .gioithieu {
        display: none;
    }
    .data {
        width: 100%;
        margin-left: 0%;
    }
    .home_index {
        float: none;
        margin-left: 0px;
        width: 100%;
        height: auto;
        margin-top: 0;
        padding-top: 30%;
        background: none;
    }
    .home {
        margin-top: 30%;
    }
    .chonloaitaikhoan {
        font-size: 75px;
    }
    .loaitaikhoan button,
    .login button,
    .signUp button {
        font-size: 25px;
        width: 300px;
    }
    .signUp,
    .login {
        height: auto;
        font-size: 30px;
        width: 500px;
        padding-bottom: 20px;
    }
    .login input,
    .signUp input {
        width: 400px;
        height: 60px;
        border-radius: 10px;
        margin-bottom: 10px;
        padding: 5px;
        font-size: 30px;
    }
    .openMenu {
        display: block !important;
    }
    .dangxuatcongty,
    .dangxuatsinhvien {
        text-align: -webkit-center;
        font-size: 30px;
    }
    .mobile-navbar {
        width: 100%;
        padding: 0;
        margin: 0;
        height: 60px;
        display: block;
        position: absolute;
        z-index: 1000;
    }
    .mobile-navbar .icon {
        font-size: 60px;
        padding: 0;
        margin: 0;
        margin-left: 10px;
    }
    .header .icon {
        display: none;
    }
    .header {
        margin-left: 20%;
        width: 80%;
    }
    .Navbar {
        width: 100%;
        z-index: 1000;
        background: #fff;
        display: none;
    }
    .content {
        height: 765px;
    }
    .Navbar .company li {
        text-align: -webkit-center;
    }
    .thongbao .icon {
        font-size: 50px;
    }
    #navbar li .icon,
    .dangxuat .icon {
        margin: auto;
    }
    #navbar li {
        font-size: 30px;
        height: 100px;
    }
    .dangxuat,
    .dangxuatsinhvien {
        margin-top: 40px !important;
        font-size: 30px;
    }
    .items li {
        margin-left: 13px;
        height: auto;
        padding-bottom: 7px;
    }
    .items li h2 {
        width: 90%;
        text-align: left;
        font-size: 17px;
    }
    .thongtincongty .thongtindangkythuctap {
        margin-left: 10% !important;
    }
    .danhsachdondangky input {
        margin-top: 15%;
        margin-bottom: 2px;
        width: 90%;
        font-size: 27px;
    }
    .danhsachdondangky {
        margin-left: 1%;
    }
    .danhsachdondangky table tr {
        height: 60px;
    }
    #stt {
        font-size: 20px;
    }
    #macongty,
    .danhsachdondangky #trangthai {
        min-width: 200px;
        height: 57px;
        font-size: 20px;
    }
    #admin_tencongty,
    #admin_emailcongty,
    #masinhvien,
    #tensinhvien,
    #ngaytaodon {
        min-width: 250px;
        height: 57px;
        font-size: 20px;
    }
    .danhsachdondangky #trangthai {
        border: none;
    }
    #admin_diachicongty {
        height: 57px;
        font-size: 20px;
        min-width: 400px;
    }
    #vitri,
    .info #emailsinhvien,
    #emailsinhvien {
        min-width: 350px;
        height: 57px;
        font-size: 20px;
    }
}
