.dangxuatsinhvien {
    margin-top: 270px;
    color: black;
    text-decoration: none;
    border-top: 1px solid #6060602b;
}
.navbarSinhVien ul li {
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 85px !important;
}
.thongtindondangky {
    list-style: none;
    width: 95%;
    height: 50px;
    display: inline-flex;
    justify-content: space-between;
}
.thongtinsinhvien {
    height: 35% !important;
}
.thongtinsinhvien .thongtintaikhoan {
    list-style: none;
    width: 95%;
    height: 50px;
    display: inline-flex;
    justify-content: space-evenly;
}
.thongtinsinhvien .thongtintaikhoan li {
    width: 350px !important;
}
.thongtincanhan .thongtintaikhoan {
    list-style: none;
    width: 95%;
    height: auto;
    display: inline-flex;
    justify-content: space-evenly;
}
.thongtincanhan .thongtintaikhoan li {
    width: 350px !important;
    height: auto;
}
.thongtincanhan .thongtintaikhoan li input {
    width: 350px !important;
}
.thongtinsinhvien,
.doimatkhau {
    list-style: none;
    width: 95%;
    height: 50px;
    display: inline-flex;
    justify-content: center;
    margin-left: 140px;
}
.thongtintaikhoan li,
.thongtinsinhvien li {
    display: block;
    height: 50px;
    width: 400px;
}
.thongtintaikhoan li .lable,
.thongtinsinhvien li .lable {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    color: #0a2689;
    font-size: 16px;
}
.thongtintaikhoan li .info,
.thongtinsinhvien li .info {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    color: #0b2eac;
    font-size: 18px;
    font-style: italic;
}
.button_chinhsua {
    float: right;
    margin-right: 50px;
    background: #ffffff8c;
    border: 1px solid #0c20b8ba;
    color: #0a09c6;
}
.button_chinhsua:hover {
    background-color: rgb(252, 252, 254);
}
.icon_button {
    font-size: 15px;
    margin-right: 5px;
}
.lable_chitiet {
    font-size: 25px;
}
.doimatkhau input {
    height: 30px;
    border: 1px solid #33333370;
    border-radius: 5px;
}
.button_luu {
    margin-right: 10px;
    width: 80px;
    background: rgb(12 12 166 / 85%);
    color: white;
    float: right;
}
.button_luu:hover {
    background: rgba(12, 12, 166, 0.614);
}
.button_huy {
    margin-right: 10px;
    width: 80px;
    background: rgba(251, 251, 251, 0.85);
    color: rgb(0, 0, 0);
    float: right;
}
.button_huy:hover {
    background: rgba(242, 2, 2, 0.793);
}
.thongtincanhan li input {
    height: 30px;
    border: 1px solid #33333370;
    border-radius: 5px;
    width: 100%;
}
.hienthithongtin {
    margin-left: 5%;
}
/* Trang sinh viên: thực tập */

.thongtincanhan,
.luachoncongty,
.thongtincongty,
.dinhkem {
    margin: 15px;
    border: 1px solid #00000069;
    border-radius: 30px;
    background: #fff;
}
.luachoncongty {
    height: 55%;
}
.thongtincongty {
    height: auto;
}
.luachoncongty ul,
.thongtincongty ul,
.dinhkem ul {
    justify-content: space-between;
}
.luachoncongty li input,
.thongtincongty li input,
.dinhkem li input {
    height: 30px;
    border: 1px solid #33333370;
    border-radius: 5px;
    width: 100%;
    width: 350px;
}
.thongtincongty li select {
    height: 40px;
    font-size: 20px;
    color: #333333b5;
    border: 1px solid #33333370;
    border-radius: 5px;
    width: 100%;
    width: 350px;
}
.baocaotiendo .nopbai li input,
.baocaotongket .nopbai li input {
    width: 530px !important;
    float: left;
    margin-left: 15px;
}
.fullsize {
    display: block;
    width: 95%;
}
.nguoiphutrach {
    justify-content: flex-start !important;
}
.nguoiphutrach input {
    margin-right: 15px;
}
.luachoncongty button,
.thongtincongty button {
    width: 20%;
    float: left;
    margin-left: 50px;
}
.luachoncongty button:hover,
.thongtincongty button:hover {
    background-color: #07108c;
    color: #ffff;
}
.description {
    width: 92%;
    min-width: 60%;
    min-height: 100px;
    height: auto;
    text-decoration: auto;
    text-align: start;
    margin-bottom: 25px;
    margin-left: 40px;
    font-size: 18px;
}
.dinhkem ul li {
    display: flex;
    width: 100%;
}
.dinhkem ul li input {
    margin-right: 15px;
    color: #0000008a;
}
.nutbam {
    width: 97%;
    height: 60px;
}
.tuanthuctap {
    float: left;
    margin-top: 55px;
    display: block;
    width: 75%;
    height: 45px;
    font-size: 18px;
    color: #070189;
    border-radius: 5px;
}
.nopbai {
    margin-top: 0;
}
.nopbai button {
    height: 35px;
}
.nopbai button:hover {
    background: #7878786b;
}
.thongtinthuctap {
    justify-content: start;
}

.thongtinthuctap li {
    margin-right: 300px;
    margin-left: 140px;
    display: flex;
}
.thongtinthuctap .lable {
    margin-right: 6px;
}
/* Danh sách đăng ký công ty */

.danhsachcongty,
.danhsachcanbo {
    height: 370px !important;
    width: 100% !important;
    display: block !important;
    margin-top: 60px !important;
    padding-left: 0 !important;
}
.danhsachcongty input,
.danhsachcanbo input {
    margin: 15px;
    float: left;
    height: 20px;
}

.danhsachcongty .button_search,
.danhsachcanbo .button_search {
    float: left;
    margin-top: 15px;
    height: 35px;
    width: 120px;
    text-align: center;
    padding: 0;
    background: #3d95e3;
    margin-bottom: 15px;
}
.danhsachcongty .button_search:hover,
.danhsachcanbo .button_search:hover {
    background: #3177b5;
}
.danhsachcongty table,
.danhsachcanbo table {
    width: 96%;
    height: 300px;
    margin: 0 2% 20px;
    overflow: auto;
    border: 1px solid #3333;
    background: white;
    display: block;
}
.danhsachcongty table tr,
.danhsachcanbo table tr {
    height: 40px;
    border: 1px solid #3333;
    width: 100%;
    display: block;
}
.danhsachcongty table .info,
.danhsachcanbo table .info {
    color: #333333d5;
    font-size: 15px;
    font-weight: 100;
}
.danhsachcongty table th,
.danhsachcanbo table th {
    border-right: 1px solid #3333;
}
#stt {
    padding: 10px;
    width: 50px;
}
#checked {
    min-width: 50px;
}
#checked input {
    width: 30px;
    margin: auto;
    margin-left: 10px;
}
#tencongty {
    width: 300px;
}
#diachi {
    width: 320px;
}
#sdt {
    width: 235px;
}
.danhsachcanbo #vitri {
    min-width: 150px;
    height: 38px;
}
.danhsachcanbo .info #vitri {
    width: 275px;
}
#chucvu {
    width: 250px;
}
.danhsachcanbo .info #email {
    width: 260px;
}
.danhsachcanbo #email {
    width: 270px;
}
.danhsachcongty #email {
    width: 278px;
    border: 0;
}
.danhsachcongty .nutbam button,
.danhsachcanbo .nutbam button {
    float: right;
}
.danhsachcongty .nutbam .button_luu,
.danhsachcanbo .nutbam .button_luu {
    width: 150px;
}
.close {
    display: none;
}
.fullsize {
    height: auto;
}
.thongtinthuctap .lable {
    min-width: 115px;
}
.thongtinthuctap .info {
    min-width: 100px;
}
@media screen and (max-width: 767px) {
    .motacongty {
        padding-left: 10px;
    }
    .danhsachcongty table tr,
    .danhsachcanbo table tr {
        height: 60px;
    }
    .thongtindondangky {
        display: block;
        height: auto;
    }
    .thongtindondangky li {
        margin-bottom: 15px;
        width: 100%;
    }
    .thongtincongty li select {
        width: 95%;
    }
    .luachoncongty li input,
    .thongtincongty li input,
    .dinhkem li input {
        margin: 0;
        padding: 0px;
        padding-left: 10px;
        margin-bottom: 10px;
        width: 95%;
    }
    .luachoncongty ul,
    .thongtincongty ul,
    .dinhkem ul {
        padding: 0;
        width: 90%;
        margin-left: 5%;
    }
    .thongtincanhan .thongtintaikhoan li input {
        width: 100% !important;
        height: auto;
    }
    .tuanthuctap {
        margin-top: 0%;
        margin-left: 5%;
        width: 90%;
        display: block;
    }
    .baocaotiendo .thongtinthuctap {
        margin-top: 40%;
    }
    .baocaotiendo .thongtinthuctap li {
        margin-left: 0;
    }
    .nopbai {
        height: 90px !important;
    }
    .nopbai input,
    .baocaotongket .nopbai input {
        margin-left: 0 !important;
    }
    .button_chinhsua {
        margin: auto;
    }
    .baocaotongket {
        height: 180px;
    }
}
