.close {
    display: none;
}
.baocao_mobile {
    display: none !important;
}
.mobile-navbar {
    display: none;
}
.dangxuat {
    margin-top: 175px !important;
}
#dangxuatgiaovien {
    margin-top: 335px !important;
}
.button_taive {
    float: left;
    background: green;
    color: white;
}
/* Quản lý thực tập */
.nutbam button {
    width: 150px;
}
.danhsachdondangky {
    width: 91%;
    height: 90%;
    margin-left: 5%;
    margin-top: 3%;
    position: absolute;
}
.danhsachdondangky input {
    margin: 15px;
    float: left;
    height: 20px;
}

.danhsachdondangky .button_search {
    float: left;
    margin-top: 15px;
    height: 35px;
    width: 120px;
    text-align: center;
    padding: 0;
    background: #3d95e3;
    margin-bottom: 15px;
}
.danhsachdondangky .button_search:hover {
    background: #3177b5;
}
.danhsachdondangky table {
    width: 96%;
    height: 555px;
    margin: 0 2% 20px;
    overflow: auto;
    border: 1px solid #3333;
    background: white;
    display: block;
}
.danhsachdondangky table tr {
    height: 40px;
    border: 1px solid #3333;
    width: 100%;
    display: block;
}
.danhsachdondangky table .info {
    color: #333333d5;
    font-size: 15px;
    font-weight: 100;
    height: auto;
}
.danhsachdondangky table th {
    border-right: 1px solid #3333;
}
#stt {
    padding: 10px;
    min-width: 50px;
}
#masinhvien {
    width: 125px;
}
#checked input {
    width: 30px;
    margin: auto;
    margin-left: 10px;
}
#tensinhvien {
    width: 300px;
}
#tencongty {
    width: 320px;
    min-width: 200px;
}
#ngaytaodon {
    width: 170px;
}
.danhsachdondangky #trangthai {
    width: 278px;
    /* border: 1px solid #b3b3b3; */
}
.danhsachdondangky .nutbam button {
    float: right;
}
.danhsachdondangky .nutbam .button_luu {
    width: 150px;
}
/* Sinh viên */
#emailsinhvien {
    width: 320px;
}
.info #emailsinhvien {
    width: 300px;
}
/* Công ty */
#diachicongty {
    width: 500px;
}
#vitri {
    width: 400px;
}
#soluong {
    width: 100px;
}
#macongty {
    min-width: 100px;
    height: 35px;
}
#admin_tencongty {
    min-width: 200px;
}
#admin_emailcongty {
    min-width: 200px;
}
#admin_diachicongty {
    min-width: 330px;
}

/* Chỉnh sửa */
.thongtincanhan .thongtintaikhoan .themgiaovienhuongdan {
    width: 85% !important;
    height: 50px;
    float: left;
    display: block;
}
.thongtincanhan .thongtintaikhoan .themgiaovienhuongdan select {
    width: 40%;
    height: 50px;
    font-size: 18px;
    float: left;
    color: #0b2eac;
}
.icon_dotthuctap {
    float: right;
    margin: 20px;
    margin-right: 1%;
    font-size: 16px;
    width: 15%;
}
.tieuDeDulieu {
    margin-top: 1%;
}
.dsDeDulieu {
    margin-top: 4%;
}
@media screen and (max-width: 767px) {
    .button_taive {
        width: 100%;
        font-size: 20px;
        margin-top: 5px;
        margin-bottom: 20px;
    }
    .baocao_mobile {
        display: block !important;
    }
    .thongtincanhan .thongtintaikhoan,
    .thongtincanhan .thongtintaikhoan li,
    .thongtinsinhvien li {
        height: auto;
        display: block;
        text-align: center;
        width: 92% !important;
        padding-left: 3%;
        margin-top: 15%;
    }
    .thongtintaikhoan li .lable,
    .thongtinsinhvien li .lable,
    .email_dangky .lable {
        font-size: 25px;
    }
    .thongtintaikhoan li .info,
    .thongtinsinhvien li .info,
    .email_dangky .info {
        font-size: 20px;
        width: 90%;
    }
    .content h1 {
        font-size: 27px;
        width: 100%;
        margin-left: 0;
    }
    .button_luu,
    .button_huy,
    .danhsachdondangky .button_search {
        width: 200px !important;
        font-size: 27px;
        margin-left: 3%;
        margin-bottom: 3%;
        float: none;
    }
    .danhsachdondangky .button_search {
        font-size: 27px;
        padding: 5px;
        height: 40px;
    }
    .icon_button {
        font-size: 25px;
    }
    .thongtincongty .thongtindangkythuctap {
        display: block;
        height: auto;
    }
    .thongtincongty .thongtindangkythuctap li {
        margin-bottom: 15px;
        width: 100% !important;
    }
    .thongtincongty .thongtindangkythuctap li input {
        width: 100% !important;
        font-size: 20px;
    }
    .nutbam {
        width: 97%;
        height: auto;
        display: block;
    }
}
